@use '../../base_css/base';

.button{
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
}

.button img{
  max-height: 1.5rem;
  max-width: 1.5rem;
}

.acceptButton, .createButton {
  background-color: base.$button-confirm-color;
}

.acceptButton:hover, .createButton:hover {
  background-color: base.$button-confirm-color-hover;
}

.editButton{
  background-color: base.$button-basic-color;
}

.editButton:hover{
  background-color: base.$button-basic-color-hover;
}

.rejectButton, .deleteButton{
  background-color: base.$button-reject-color;
}

.rejectButton:hover, .deleteButton:hover{
  background-color: base.$button-reject-color-hover;
}

.reportButton{
  background-color: base.$secondary-color;
}

.reportButton:hover{
  background-color: #dea70c;
}