@use '../../base_css/base';

.layout{
  //background-color: base.$background-color;
  font-family: base.$font;
}

.header {
  background-image: linear-gradient(75deg, base.$primary-color-second, base.$primary-color);
  background-color: base.$primary-color;
  //border-bottom: 1px solid #ccc;
  padding: 5px 0;
  min-height: 5vh;
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 85vh;
  width: 100%;
  //background: base.$noise-background;
  background-color: base.$background-color;
}

.sidebar {
  flex-basis: 15%;
  //background-color: base.$background-color;
  background-image: linear-gradient(180deg, #303238, #3f3939);
  min-height: 100%;
  padding: 10px;
}

.content {
  background-color: base.$container-color;
  //flex-basis: 83%;
  width: 100%;
  padding: 20px;
  //margin: 2vh 1vw 2vh 0;
  //border-radius: 5px;
}

.footer {
  background-color: #524e4e;
  color: base.$alternative-text-color;
  padding: 1px 0;
  font-size: 14px;
  text-align: center;
}
