@use '../../../base_css/base';

.form{
  display: flex;
  flex-direction: column;
}


.form input{
  padding: 4px;
  border-radius: 3px;
  margin: 0 2vw;
  min-width: 30%;
  max-width: 50%;
}

.form label{
  margin: 2vh 2vw;
}

.formButtons{
  display: flex;
  flex-direction: row;
  margin: 2vw;
}

.formButtons button{
  height: 45px;
  width: 45px;
  margin-right: 1vw;
}