@use '../base_css/base';

.filterRow td{
  padding: 0;
}

.filterRow:hover{
  background-color: #f5f5f5;
}

.filterRow{
  background-color: #f5f5f5;
}

.filterRow input{
  background-color: #f5f5f5;
}

.filterRow input{
  font-family: base.$font;
  border: 0 solid black;
  padding: 10px;
}

.filterInput12 input{
  width: 12vw;
}

.filterInput10 input{
  width: 10vw;
}

.filterInput9 input{
  width: 9vw;
}

.filterInput8 input{
  width: 8vw;
}

.filterInput7 input{
  width: 7vw;
}

.filterInput6 input{
  width: 6vw;
}