body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}

.green{
  color: green;
}

.blue{
  color: #0958a6;
}

.red{
  color: #c50404;
}

.yellow{
  color: #eab504;
}

.input-list{
  border-radius: 3px;
  border: 0 rgba(0, 0, 0, 0) solid !important;
  margin: 0 2vw;
  width: 30vw;
}
