@use '../../base_css/base';

.form{
  position: relative;
  display: flex;
  flex-direction: column;
}

.form>div{
  display: flex;
  flex-direction: row;
}

.leftSide, .rightSide{
  display: flex;
  flex-direction: column;
}

.mapCheckbox{
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 2vh 0;
}

.mapCheckbox input{
  height: 20px !important;
  width: 20px !important;
}

.mapCheckbox label{
  margin: 0 !important;
}

.form input, .form select{
  padding: 4px;
  border-radius: 3px;
  margin: 0 2vw;
  width: 30vw;
  font-weight: bold;
}

.readonly{
  display: flex;
  align-items: center;
}

.readonly label{
  font-weight: bold;
}

.topButtons{
  display: flex;
  position: absolute;
  right: -5px;
}

.topButtons button{
  margin-right: 5px;
}

.form label{
  margin: 2vh 2vw;
}

.formButtons{
  display: flex;
  flex-direction: row;
  margin: 2vw;
}

.formButtons button{
  height: 45px;
  width: 45px;
  margin-right: 1vw;
}

.bottomBackButton button{
  margin-top: 4vh;
  margin-left: 2vw;
}

.map{
  margin-top: 4vh;
  width: 40vw;
  height: 60vh;
  margin-left: 2vw;
}